apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Release.Namespace }}
  labels:
    name: {{ .Release.Namespace }}
    app.kubernetes.io/name: {{ include "devmind-pipeline.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
